.floor {
    display: inline-flex;
    margin: 85px 0px;
}

.floor > div > div {
    transition: all .2s ease;
}

main {
    display: flex;  
    flex-direction: column;
    margin-left: 100px;
}

body {
    margin: 0px;
}

.player {
    height: 190px;
    display: flex;
    justify-content: center;
}

img {
    border-radius: 10px;
    width: 102px;
    height: 158px;
    margin: 10px 5px;
}

.increase {
    transform: scale(1.10);
}

.card {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    margin-left: 120px;
}

.front, .back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}  

.front {
    transform: rotateY(180deg);
}

@-webkit-keyframes move {
    0% {
      bottom:0px;
    }
    100% {
      bottom:-160px;
    }
  }