.floor {
    display: inline-flex;
}

main {
    display: flex;  
    flex-direction: column;
    margin-left: 12%;
}

body {
    margin: 0px;
}

#AI {
    height: 175px;
}

#PLAYER {
    height: 175px;
}

img {
    border-radius: 10px;
    width: 102px;
    height: 158px;
    margin: 10px 5px;
}