.floor {
    display: inline-flex;
}

.floor > div {
    transition: all .1s ease;
}

main {
    display: flex;  
    flex-direction: column;
    margin-left: 12%;
}

body {
    margin: 0px;
}

.player {
    height: 175px;
    display: flex;
    justify-content: center;
}

img {
    border-radius: 10px;
    width: 102px;
    height: 158px;
    margin: 10px 5px;
}

.increase {
    transform: scale(1.10);
}